<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggler"
        (click)="collapsed = !collapsed"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li
          routerLinkActive="active"
          class="nav-item"
        >
          <a
            routerLink="/recipes"
            class="nav-link"
          >
            Recipes
          </a>
        </li>
        <li
          routerLinkActive="active"
          class="nav-item"
        >
          <a
            routerLink="/shopping-list"
            class="nav-link"
          >
            Shopping List
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li
          class="nav-item dropdown"
          data-toggle="dropdown"
        >
          <a
            style="cursor: pointer;"
            class="nav-link dropdown-toggle"
            role="button"
          >
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <a style="cursor: pointer;">
                Save Data
              </a>
            </li>
            <li class="dropdown-item">
              <a style="cursor: pointer;">
                Fetch Data
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>