<div class="row">
  <div class="col-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-fluid"
      style="max-height: 300px;"
    >
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        Manage Recipe <span class="caret"></span>
      </button>
      <ul
        class="dropdown-menu"
      >
        <li class="dropdown-item">
          <a
            (click)="onAddToShoppingList()"
            style="cursor: pointer;"
          >
            To Shopping List
          </a>
        </li>
        <li class="dropdown-item">
          <a style="cursor: pointer;">
            Edit Recipe
          </a>
        </li>
        <li class="dropdown-item">
          <a style="cursor: pointer;">
            Delete Recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li
        *ngFor="let ingredient of recipe.ingredients"
        class="list-group-item"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>